<section class="home">
  <p>{{ lang.t('homeLead') }}</p>
  @if (!session.session()) {
    <form (ngSubmit)="signIn()">
      <label>
        {{ lang.t('email') }}
        <input name="email" [(ngModel)]="email" autocomplete="username" />
      </label>
      <label>
        {{ lang.t('password') }}
        <input
          name="password"
          type="password"
          [(ngModel)]="password"
          autocomplete="current-password"
        />
      </label>
      <button type="submit">{{ lang.t('signIn') }}</button>
      @if (error) {
        <p class="error">{{ error }}</p>
      }
    </form>
  }
</section>
